---
import Logo from '/public/logo grupo 360 blanco Horizontal 2.png';

---

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="nav-container">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">
				<img src={Logo} alt="Logo G360" class="navbar-img">
			</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/">Inicio</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="solucionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Soluciones
				</a>
				<ul class="dropdown-menu" aria-labelledby="solucionesDropdown">
					<li><a class="dropdown-item" href="/servicios/Infraestructura"><img src="../../Infraestructura.png"/>Infraestructura</a></li>
					<li><a class="dropdown-item" href="/servicios/Ciberseguridad"><img src="../../Ciberseguridad.png"/>Ciberseguridad</a></li>
					<li><a class="dropdown-item" href="/servicios/Productividad"><img src="../../Productividad.png"/>Productividad</a></li>
					<li><a class="dropdown-item" href="/servicios/Hiperautomatizacion"><img src="../../Hiperautomatizacion.png"/>Hiperautomatizacion</a></li>
					<li><a class="dropdown-item" href="/servicios/Fabricadesoftware"><img src="../../Desarrollo a Medida.png"/>Fabrica de Software</a></li>
					<li><a class="dropdown-item" href="/servicios/Analiticaavanzada"><img src="../../Analitica Avanzada.png"/>Analitica Avanzada</a></li>
				</ul>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Productos
				</a>
				<ul class="dropdown-menu multi-column columns-3 ">
					<div class="row">
						<div class="col-sm-4">
							<ul class="multi-column-dropdown">
								<p>Productividad y Colaboracion </p>
								<li><a href="/servicios/Microsoft365"><img src="../../MS365.svg"/>Microsoft 365</a></li>
								<li><a href="/servicios/Adobe"><img src="../../adobe.svg"/>Adobe</a></li>
								<li><a href="/servicios/PowerPlatform"><img src="../../PowerPlat.svg"/>Power Platform</a></li>
								<li><a href="/servicios/Sharepoint"><img src="../../Sharepoint.svg"/>Sharepoint</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul class="multi-column-dropdown">
								<p>Analitica Avanzada</p>
								<li><a href="/servicios/AzureSynapse"><img src="../../Synapse.svg"/>Azure Synapse</a></li>
								<li><a href="/servicios/Azuredatafactory"><img src="../../data-factory.svg"/>Azure Data Factory</a></li>
								<li><a href="/servicios/Azuredatabricks"><img src="../../Azure Databricks.svg"/>Azure Databricks</a></li>
								<li><a href="/servicios/PowerBI"><img src="../../PowerBI.svg"/>Power BI</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul class="multi-column-dropdown">
								<p>Infraestructura</p>
								<li><a href="/servicios/Azurebackups"><img src="../../00017-icon-service-Recovery-Services-Vaults.svg"/>Azure Backups</a></li>
								<li><a href="/servicios/Azuresiterecovery"><img src="../../sql-stretch-database.svg"/>Azure Site Recovery</a></li>
								<li><a href="/servicios/IaaS"><img src="../../azure-analysis-services.svg"/>IaaS</a></li>
								<li><a href="/servicios/PaaS"><img src="../../microsoft-azure.svg"/>PaaS</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul class="multi-column-dropdown">
								<p>Hiperautomatizacion</p>
								<li><a href="/servicios/PowerAutomate"><img src="../../Power Automate.svg"/>Power Automate</a></li>
								<li><a href="/servicios/rpa"><img src="../../robot.svg"/>RPA</a></li>
								<li><a href="/servicios/Uipath"><img src="../../unnamed.png"/>UI Path</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul class="multi-column-dropdown">
								<p>Ciberseguridad</p>
								<li><a href="/servicios/ConsultoriasdeSeguridad"><img src="../../10433-icon-service-User-Settings.svg"/>Consultorias de Seguridad</a></li>
								<li><a href="/servicios/Usuariosyaccesos"><img src="../../03344-icon-service-Multifactor-Authentication.svg"/>Usuarios y Accesos</a></li>
								<li><a href="/servicios/Protecciondelanubeyred"><img src="../../03336-icon-service-Microsoft-Defender-EASM.svg"/>Proteccion de la nube y red</a></li>
								<li><a href="/servicios/Gestionunificada"><img src="../../10572-icon-service-ExtendedSecurityUpdates.svg"/>Gestion unificada</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul class="multi-column-dropdown">
								<p>Fabrica de Software</p>
								<li><a href="/servicios/Desarrolloamedida"><img src="../../00012-icon-service-Application-Insights.svg"/>Desarrollo a Medida</a></li>
								<li><a href="/servicios/Outsourcing"><img src="/../Outsoursing.svg"/>Outsourcing</a></li>
							</ul>
						</div>
					</div>
				</ul>
			  </li>
						<li class="nav-item">
				<a class="nav-link" href="/servicios/Nosotros">Nosotros</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>
</div>



<style>

	.nav-container{
		padding-left: 16%;
		padding-right: 16%;
	}
    .page--body__nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 39px;
	}
	.page--body__nav img{
		width: 197px;
        height: 62px;
	}
	li{
		cursor: pointer;
		color: #F5F5F5;
		text-decoration:none;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		padding: 5px;
	}
	.body__nav--menu{
		display: flex;
		flex-direction: row;
		gap: 39px;
		align-items: center;
		justify-content: space-between;
	}
    .principal--section__button{
		border: 1px solid #FFDC9A;
		border-radius: 7px;
		width: 187px;
        height: 56px;
		background-color: transparent;
		color:#FFDC9A;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
	}

	.principal--section__button:hover{
		background-color: rgb(255,220,154,0.1) ;
		cursor: pointer;
	}

	.dropdown-item{
		font-size: 15px;
	}

	@media screen and (max-width: 600px) {

		.navbar-img{
			width: 125px;

		}
		.nav-container{
		padding-left: 2%;
		padding-right: 2%;
	}

    }

	.dropdown-menu {
		min-width: 250px;
		padding: 4%;
	}
	.dropdown-menu.columns-2 {
		min-width: 500px;
	}
	.dropdown-menu.columns-3 {
		min-width: 850px;
	}
	.dropdown-menu li a {
		padding: 5px 5px;
		font-weight: 100;
		text-decoration: none;
		font-size: 0.9rem;
	}
	.multi-column-dropdown {
		list-style: none;
		margin: 0px;
		padding: 5%;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.29;
		color: #333;
		white-space: normal;
	}
	.multi-column-dropdown p {
		font-weight: bold;
		font-size: 0.9rem;
	}

	.multi-column-dropdown li a:hover {
		color: #262626;
		background-color: rgb(255,220,154,0.1);
	}
	
	@media (max-width: 767px) {
		.dropdown-menu.multi-column {
			min-width: 240px !important;
			overflow-x: hidden;
		}
	}

	.multi-column-dropdown img{
		width: 20px;
		padding-right: 4px;
	}

	.dropdown-item img{
		width: 20px;
	}

	.dropdown-item a{
		color: #262626;
	}



	
</style>

<script>
	const principalbutton = document.querySelector('.principal--section__button');
	principalbutton.addEventListener('click',scrollingbutton);

	function scrollingbutton(){
		window.scrollTo(0,30000);
	}
</script>


<script src="https://unpkg.com/@popperjs/core@2"></script>