---
const {src} = Astro.props
const {alt} = Astro.props
---

<div class="image-container">
    <img src={src} alt={alt}/>
</div>

<style>

@media screen and (max-width: 600px) {

 .image-container{
    padding-bottom: 30px;
 }

 img{
    width: 80%;
 }
 

}

img{

    width: 342px;
    height: 184px;
    object-fit: cover;
    border-radius: 20px;

}

</style>