---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Automatiza tus procesos con RPA">
    <section class="section-div">
        <div class="pattern-div">
            <img src="/../../Ruleta 1.png" class="pattern-div-1"/>
            <img src="/../../ruleta 2.png" class="pattern-div-2"/>
            <img src="/../../puntos1.png" class="pattern-div-3"/>
            <img src="/../../puntos2.png" class="pattern-div-4"/>
        </div>
    </div>
        <div class="container">
            <h2 class="landing-title">Automatiza tus procesos corporativos</h2>
            <p class="landig-description">Conocemos las mejores prácticas de mercado en servicios RPA, que lo ayudarán a automatizar los procesos de su compañía, aumentando la velocidad de sus tareas e incrementando la productividad de sus empleados.</p>
            <div class="buttons-container">
                <button id="landingbutton" class="contact-button">Contactanos</button>
                <a href="https://forms.office.com/r/XqLEYsLxcs" class="demo-button">Solicitar una Demo</a>
            </div>
        </div>
    </section>
    <section class="section-div">
        <div class="card-section">
            <div class="container-frase">
                <h3>“RPA nunca fue un juego de costos. Se trata de la velocidad de hacer negocios y el cumplimiento, y obtener los beneficios de la fuerza laboral que nunca antes habíamos logrado.”</h3>
            </div>
            <class class="foto-container">
                <div>
                    <img src="/../../fotofrase.png"/>
                </div>
                <div>
                    <h2>Jairo Quiroz</h2>
                    <p>SVP Global Shared Services and Head of Global RPA/AI CoE, Equifax</p>
                </div>
            </class>
        </div>
    </section>
    <section class="icons-section">
        <h2 class="landing-title">El futuro en tus manos </h2>
        <div class="iconos-container">
            <div>
                <img src="/../../Icono-1.png"/>
                <h3>Descubre</h3>
                <p>Descubrir continuamente nuevas posibilidades de mejora.</p>
            </div>
            <div>
                <img src="/../../Icono-2.png"/>
                <h3>Automatiza</h3>
                <p>Basadas en tareas, leen y escriben cualquier origen de datos y usan el aprendizaje avanzado para mejorar las futuras automatizaciones.</p>
            </div>
            <div>
                <img src="/../../Icono-3.png"/>
                <h3>Implementa</h3>
                <p>Le permitirá diseñar y probar nuevos procesos robóticos en cuestión de horas y optimizar rápidamente los bots.</p>
            </div>
        </div>
    </section>
    <section class="banner-landing">
        <div class="banner-container">
            <h2>“Eficiencia para sus procesos corporativos”</h2>
            <p> Los trabajadores se liberan para realizar tareas de un valor superior, lo que eleva la naturaleza del trabajo que realizan. Y cuando los robots se programan una vez, siguen las reglas todas las veces. Nunca se cansan ni se aburren ni tampoco cometen errores; sus resultados son coherentes y fiables.</p>
            <a href="https://forms.office.com/r/XqLEYsLxcs" class="banner-button">Solicitar una Demo</a>
        </div>
        <img src="/../../World.png"/>
    </section>
    <section class="section-contactanos">
        <h2 class="landing-title">Contactanos</h2>
        <div class="contact-div">
            <img src="/../../Ruleta 1.png" class="contact-div-1"/>
            <img src="/../../puntos1.png" class="contact-div-3"/>
            <img src="/../../puntos2.png" class="contact-div-4"/>
        </div>
        <div class="form-container">
        <iframe class="form--frame"  id=ded14cda-9a1c-4425-b769-46ec0e0c0de9></iframe><script>var sandboxSrc = "https://28261c29b8e6485dba05ea820e2d5ecb.svc.dynamics.com/t/formsandbox/8KC9fSWAQ1YhC4ewEkqI5r5rBajYFVs1NEsT0OYvs2c/8cbd9ba6-e7f8-ed11-8f6e-000d3ac036b2?ad=" + encodeURIComponent(document.location.toString()); document.getElementById('ded14cda-9a1c-4425-b769-46ec0e0c0de9').setAttribute('src', sandboxSrc); </script>
    </section>
    <footer class="footer">
        <img src="/../../Logo Grupo360_Mesa de trabajo 1 copia[3867].png"/>
    </footer>
</Layout>

<style>

    :root{
        --type-fontsize-min: 1.625em;
        --type-fontsize-max: 4em;
        --type-fontsize-value: 0.73em + 4.36vw;
        --p-fontsize-min: 1.125em;
        --p-fontsize-max: 1.4375em;
        --p-fontsize-value: 1.02em + 0.53vw;
    }

    body{
        overflow-x: hidden;
    }

    .container{
        display: flex;
        align-items: center;
    }

    .pattern-div{
        z-index: -1;
        
    }
    .pattern-div-1{
        position: absolute;
        left: 85.86%;
        right: -115.36%;
        
    }
    .pattern-div-2{
        position: absolute;
        left: 15.86%;
        right: -115.36%;
        top: -24.87%;
        
    }
    .pattern-div-3{
        position: absolute;
        left: 87.89%;
        right: -12.1%;
        top: 10.91%;
        
    }
    .pattern-div-4{
        position: absolute;
        left: -11.16%;
        right: 87.66%;
        top: 45.8%;
    }
    .landing-title{
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 600;
        font-size: clamp(var(--type-fontsize-min),var(--type-fontsize-value),var(--type-fontsize-max));
        text-align: center;
        color: #1D5AAA;
    }

    .landig-description{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: clamp(var(--p-fontsize-min),var(--p-fontsize-value),var(--p-fontsize-max));
        text-align: center;
        color: #000000;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 40%;
    }
    .section-div{
        height: 100vh;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        justify-content: center;
    }

    .contact-button{
        text-decoration: none;
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 700;
        background-color: #1D5AAA;
        color: white;
        padding:15px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;

    }
    .demo-button{
        text-decoration: none;
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 700;
        background-color: white;
        color: #1D5AAA;
        padding:15px;
        border-radius: 5px;
        font-size: 1rem;
    }

    .buttons-container{
        padding-top: 5%;
    }

    .card-section{
        background-color: #1D5AAA;
        width: 65%;
        height: 70%;
        border-radius: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-section h3{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: clamp(var(--p-fontsize-min),var(--p-fontsize-value),var(--p-fontsize-max));
        line-height: 27px;
        text-align: center;
        color: #FFFFFF;
    }

    .container-frase{
        padding-bottom: 40px;
        width: 75%;
    }

    .foto-container{
        display: flex;
        flex-direction: row;
        gap: 25px;
        width:40% ;
    }

    .foto-container h2{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
    }

    .foto-container p{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        color: #FFFFFF;
    }

    .iconos-container{
        display: flex;
        align-items: center;
        gap: 30px;
        text-align: center;
        justify-content: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .iconos-container h3{
        color: #1D5AAA;
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 600;
    }

    .iconos-container div{
        width: 20%;
    }

    .banner-landing{
        width: 100%;
        height: 20%;
        background-color: #1472C1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }

    .banner-container{
        width: 50%;

    }

    .banner-container h2{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
        color: #FFFFFF;
    }

    .banner-container p{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    .banner-button{
        text-decoration: none;
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 700;
        background-color: white;
        color: #1D5AAA;
        padding:15px;
        border-radius: 5px;
    }
    .section-contactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        justify-content: center;
    }

    .form-container{
        display: flex;
        justify-content: center;
    }

    .form--frame{
        width: 800px;
        height: 430px;
    }

    .contact-div{
        z-index: -1;  
    }
    .contact-div-1{
        position: absolute;
        left: 85.86%;
        right: -115.36%;
        top: 344.87%;
        
    }
    .contact-div-2{
        position: absolute;
        left: 15.86%;
        top: 304.87%;
        
    }
    .contact-div-3{
        position: absolute;
        left: 87.89%;
        top: 403.8%;
        
    }
    .contact-div-4{
        position: absolute;
        left: -11.16%;
        top: 353.8%;
    }

    .footer img{
        width: 240px;
        padding-bottom: 2%;
    }

    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    @media screen and (max-width: 600px) {
        .contact-div{
        display: none;  
        }
        .pattern-div{
        display:none;
        }
        .container{
        width: 90%;
        }
        .buttons-container{
        display: flex;
        flex-direction: column;
        }
        .foto-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width:40% ;
        text-align: center;
        }
        .card-section{
        width: 85%;
        height: 90%;
        border-radius: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        .iconos-container{
            display: flex;
            flex-direction: column;
        }

        .iconos-container div{
            width: 90%;
        }
        .icons-section {
            padding-top: 10%;
        }

        .banner-landing img{
            display: none;
       
        }

        .banner-landing{
            height: 100%;
            text-align: center;
       
        }

        .banner-container{
            width: 90%;
            padding: 10% 0%;

        }

        .section-contactanos{
        display: block;
        }

        .banner-container h2{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 43px;
        color: #FFFFFF;
        }

        .form--frame{
        border: 0;
        height: 550px;
        }

        .foto-container{
        width:80% ;
        }




		
    }

</style> 

<script>
	const secondarybutton = document.getElementById('landingbutton');
	secondarybutton.addEventListener('click',scrollingbutton)
	secondarybutton.addEventListener('click',()=>{console.log('hola')})
	function scrollingbutton(){
		window.scrollTo(0,30000);
	}
</script>