---
import Navbar from '../../components/Landing-components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Landing-components/RE1-Titulo.astro';
import Descript from "../../components/Landing-components/RE4-Descript.astro";
import Infoproducto from '../../components/Landing-components/Infoproducto.astro';
import Docsproducto from '../../components/Landing-components/Docsproducto.astro';
import Footer from '../../components/Landing-components/Footer.astro';
import Caracteristicasprod from '../../components/Landing-components/Caracteristicasprod.astro';
import Contactanos from '../../components/Landing-components/Contactanos.astro';
import Detalles from '../../components/Landing-components/Detalles.astro';
import Soluciones from '../../layouts/Soluciones.astro';
---

<Soluciones title="Azure Backup">
    <Navbar/>
    <section class="principal-section">
        <Title description="Azure Backup" subtitle=""/>
        <div class="beneficios--container animate__animated animate__fadeInUp">
            <Descript percent="80%" description="De las empresas no realizan backups de su información"/>
            <Descript percent="88%" description="De las empresas no tienen un plan de recuperación anti desastres"/>
            <Descript percent="36%" description="De las empresas no recuperan sus datos."/>
        </div>
        <div class="button--container">
            <button class="principal--section__button animate__animated animate__fadeInUp" id="landingbutton">Contactanos</button>
        </div>
    </section>
    <section class="secondary-section">
        <div class="info-producto-container">
            <Infoproducto icon="../../00017-icon-service-Recovery-Services-Vaults.svg" title="Azure Backup" description="Azure Backup es una solución de copias de seguridad con un solo clic rentable y segura que se puede escalar en función de las necesidades de almacenamiento de copia de seguridad." href="../../AzureBackupApps.png" />
            <Docsproducto image="../../AzureBackupDocs.png" />
        </div>
    </section>
    <section>
        <Caracteristicasprod description="Azure Backup es un servicio que se utiliza para realizar copias de seguridad y restaurar sus datos en la nube de Microsoft. Reemplaza su solución de respaldo local o externa existente con una solución basada en la nube que es confiable, segura y rentable." image="../../AzureBackupBanner.png"    />
    </section>
    <section class="details--section">
        <Detalles title="Administración centralizada" descript="Supervisa, administra, controla y optimiza la protección de datos a gran escala de forma unificada y coherente con el Centro de copias de seguridad."/>
        <Detalles title="Coherencia de aplicaciones" descript="Realiza copias de seguridad de los datos de las máquinas virtuales y restáuralas con coherencia entre las aplicaciones"/>
        <Detalles title="Compatibilidad " descript="Crea copias de seguridad de instancias de Azure Virtual Machines, servidores del entorno local, SQL Server "/>
        <Detalles title="Almacenamiento duradero" descript="Guarda las copias de seguridad en almacenamiento con redundancia local (LRS), almacenamiento con redundancia geográfica (GRS)"/>
    </section>
    <Contactanos/>
    <Footer/>
</Soluciones>

<style>
    *{
		margin: 0;
		padding: 0;
	}

	body{
		overflow-x:hidden !important;
		margin-left: 0;
        height: 100%; 
		background: radial-gradient(100% 100% at 50% 0%, #1F2063 0%, #1D5AAA 100%);
	}

    .details--section{
        display: flex;
        flex-direction: row;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }
    .principal-section{
        background: url("/public/Pathern.png");
        width: 100%;
        height: 60%;
        padding-left: 16%;
		padding-right: 16%;
    }
    .beneficios--container{
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
        text-align: center;
        column-gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .principal--section__button{
		border: 1px solid #FFDC9A;
		border-radius: 7px;
		width: 187px;
        height: 56px;
		background-color: transparent;
		color:#FFDC9A;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 30px;
		cursor: pointer;
	}
    .button--container{
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
    }

    .secondary-section{
        background-color: white;
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        align-self: center;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info-producto-container{
        display: flex;
        flex-direction: row;
        gap: 15%;
    }

    @media screen and (max-width: 600px) {
        .beneficios--container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
        }

        .info-producto-container{
            display: flex;
            flex-direction: column;
        }
        
        .details--section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }



    }

</style>