---
import Navbar from '../../components/Landing-components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Landing-components/RE1-Titulo.astro';
import Descript from "../../components/Landing-components/RE4-Descript.astro";
import Infoproducto from '../../components/Landing-components/Infoproducto.astro';
import Docsproducto from '../../components/Landing-components/Docsproducto.astro';
import Footer from '../../components/Landing-components/Footer.astro';
import Caracteristicasprod from '../../components/Landing-components/Caracteristicasprod.astro';
import Contactanos from '../../components/Landing-components/Contactanos.astro';
import Detalles from '../../components/Landing-components/Detalles.astro';
import Soluciones from '../../layouts/Soluciones.astro';
---

<Soluciones title="Consultorías de Seguridad">
    <Navbar/>
    <section class="principal-section">
        <Title description="Consultorías de Seguridad" subtitle=""/>
        <div class="beneficios--container animate__animated animate__fadeInUp">
            <Descript percent="71%" description="De ataques cibernéticos persigue beneficios económicos"/>
            <Descript percent="$10.5B" description="De perdidas generadas por ataques de pishing en 2025"/>
            <Descript percent="80%" description="De mejora en la velocidad de implementación"/>
        </div>
        <div class="button--container">
            <button class="principal--section__button animate__animated animate__fadeInUp" id="landingbutton">Contactanos</button>
        </div>
    </section>
    <section class="secondary-section">
        <div class="info-producto-container">
            <Infoproducto icon="../../03336-icon-service-Microsoft-Defender-EASM.svg" title="Consultorias de Seguridad" description="Es el servicio más integral proporcionado, ya que abarca todos los niveles de la planeación, el hacer, el verificar y el actuar, relacionados con la seguridad de la información." href="../../ConsultoriasdeSeguridadApps.png" />
            <Docsproducto image="../..//ConsultoriasdeSeguridadDocs.jpg" />
        </div>
    </section>
    <section>
        <Caracteristicasprod description="Un sistema de ciberseguridad permite proteger los sistemas empresariales y la información confidencial ante amenazas y/o ataques cibernéticos" image="../..//ConsultoriasdeSeguridadBanner.png"    />
    </section>
    <section class="details--section">
        <Detalles title="Pentesting" descript="Planificamos las mejoras que requiere un negocio para fortalecer su ciberseguridad."/>
        <Detalles title="Ethical Phishing" descript="Evaluamos el nivel de madurez de los colaboradores para proteger la información"/>
        <Detalles title="Email Security" descript="Brindamos soluciones tecnologías sofisticadas para fortalecer y/o garantizar"/>
        <Detalles title="Zero Trust" descript="Brindamos un sistema poderoso de identidad para acceder a aplicaciones, información de valor."/>
    </section>
    <Contactanos/>
    <Footer/>
</Soluciones>

<style>
    *{
		margin: 0;
		padding: 0;
	}

	body{
		overflow-x:hidden !important;
		margin-left: 0;
        height: 100%; 
		background: radial-gradient(100% 100% at 50% 0%, #1F2063 0%, #1D5AAA 100%);
	}

    .details--section{
        display: flex;
        flex-direction: row;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }
    .principal-section{
        background: url("/public/Pathern.png");
        width: 100%;
        height: 60%;
        padding-left: 16%;
		padding-right: 16%;
    }
    .beneficios--container{
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
        text-align: center;
        column-gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .principal--section__button{
		border: 1px solid #FFDC9A;
		border-radius: 7px;
		width: 187px;
        height: 56px;
		background-color: transparent;
		color:#FFDC9A;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 30px;
		cursor: pointer;
	}
    .button--container{
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
    }

    .secondary-section{
        background-color: white;
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        align-self: center;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info-producto-container{
        display: flex;
        flex-direction: row;
        gap: 15%;
    }

    @media screen and (max-width: 600px) {
        .beneficios--container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
        }

        .info-producto-container{
            display: flex;
            flex-direction: column;
        }
        
        .details--section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }



    }

</style>