---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Automatiza tus procesos con RPA">
    <section class="section-div">
    </div>
        <div class="container">
            <div>
                <h2 class="landing-title">Impulse su carrera con Microsoft Excel</h2>
                <p class="landig-description">El programa de Microsoft Excel de Grupo 360 es un programa que proporciona los conocimientos necesarios para tu dia a dia con esta herramienta a nivel empresarial.</p>
                <div class="buttons-container">
                    <button id="landingbutton" class="contact-button">Inscribirme Ahora</button>
                </div>
            </div>
        </div>
        <div>
            <img src="/../../Excelprogram.png" class="imagen--person"/>
        </div>
    </section>
    <section class="banner-landing">
        <div class="banner-container">
            <h2>“Eficiencia para sus procesos corporativos”</h2>
            <p> Los trabajadores se liberan para realizar tareas de un valor superior, lo que eleva la naturaleza del trabajo que realizan. Y cuando los robots se programan una vez, siguen las reglas todas las veces. Nunca se cansan ni se aburren ni tampoco cometen errores; sus resultados son coherentes y fiables.</p>
            <a href="https://forms.office.com/r/XqLEYsLxcs" class="banner-button">Solicitar una Demo</a>
        </div>
        <img src="/../../Pieza.png"/>
    </section>
    <section class="icons-section">
        <h2 class="landing-subtitle">Porque aprender Microsoft Excel</h2>
        <div class="iconos-container">
            <div>
                <p>Aprender Microsoft Excel me ha permitido mejorar mi eficiencia en el trabajo. Puedo realizar tareas complejas de forma más rápida y precisa, como el análisis de datos, la creación de informes y el seguimiento de presupuestos. Esto me ha ayudado a destacar en mi empresa y a ahorrar tiempo en mi día a día.</p>
                <h4>Ana, Profesional de Marketing</h4>
            </div>
            <div>
                <p>Soy emprendedor y aprender Microsoft Excel ha sido fundamental para el crecimiento de mi negocio. Puedo rastrear mis ventas, gestionar inventarios y realizar proyecciones financieras con facilidad. Esto me brinda información valiosa para tomar decisiones estratégicas y maximizar mis ganancias.</p>
                <h4>Carlos, Analista de Datos</h4>
            </div>
            <div>
                <p>Aprender Microsoft Excel ha sido fundamental para el control financiero de nuestra empresa. Podemos crear presupuestos, realizar seguimiento de gastos, calcular métricas financieras clave y generar informes financieros detallados.</p>
                <h4>María, Directora Financiera</h4>
            </div>
        </div>
    </section>
    <section class="section-div">
    </div>
        <div>
            <img src="/../../evolucionexcel.png" class="imagen--person"/>
        </div>
        <div class="container">
            <div>
                <h2 class="landing-title">Sobre nuestro programa</h2>
                <p class="landig-description">Ya sea que estés comenzando desde cero o desees mejorar tus habilidades existentes, nuestro curso te proporcionará una base sólida y te guiará a través de ejercicios prácticos que te permitirán aplicar lo aprendido en situaciones reales.</p>
                <div class="buttons-container">
                    <button id="landingbutton" class="contact-button">Inscribirme Ahora</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section-div">
    </div>
        <div class="container">
            <div>
                <h2 class="landing-title">Impulse su carrera con Microsoft Excel</h2>
                <p class="landig-description">El programa de Microsoft Excel de Grupo 360 es un programa que proporciona los conocimientos necesarios para tu dia a dia con esta herramienta a nivel empresarial.</p>
                <div class="buttons-container">
                    <button id="landingbutton" class="contact-button">Inscribirme Ahora</button>
                </div>
            </div>
        </div>
        <div>
            <img src="/../../Excelprogram.png" class="imagen--person"/>
        </div>
    </section>
    <section class="section-contactanos">
        <h2 class="landing-title">Contactanos</h2>
        <div class="form-container">
        <iframe class="form--frame"  id=ded14cda-9a1c-4425-b769-46ec0e0c0de9></iframe><script>var sandboxSrc = "https://28261c29b8e6485dba05ea820e2d5ecb.svc.dynamics.com/t/formsandbox/8KC9fSWAQ1YhC4ewEkqI5r5rBajYFVs1NEsT0OYvs2c/8cbd9ba6-e7f8-ed11-8f6e-000d3ac036b2?ad=" + encodeURIComponent(document.location.toString()); document.getElementById('ded14cda-9a1c-4425-b769-46ec0e0c0de9').setAttribute('src', sandboxSrc); </script>
    </section>
</Layout>

<style>

    :root{
        --type-fontsize-min: 1.625em;
        --type-fontsize-max: 4em;
        --type-fontsize-value: 0.73em + 4.36vw;
        --p-fontsize-min: 1.125em;
        --p-fontsize-max: 1.4375em;
        --p-fontsize-value: 1.02em + 0.53vw;
        --principal-color:#25A568;
        --secondary-color:#38C583;
        --contrast-color:#000000;
        --title-color:#FFFFFF;
        --paragrap--color:#DAE7E0;
    }

    body{
        overflow-x: hidden;
        background-color: #25A568;
    }

    .container{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }

    .imagen--person{
        height: 100vh;
        width: 100%;
    }

    .pattern-div{
        z-index: -1;
        
    }
    .pattern-div-1{
        position: absolute;
        left: 85.86%;
        right: -115.36%;
        
    }
    .pattern-div-2{
        position: absolute;
        left: 15.86%;
        right: -115.36%;
        top: -24.87%;
        
    }
    .pattern-div-3{
        position: absolute;
        left: 87.89%;
        right: -12.1%;
        top: 10.91%;
        
    }
    .pattern-div-4{
        position: absolute;
        left: -11.16%;
        right: 87.66%;
        top: 45.8%;
    }
    .landing-title{
        font-family: 'Pacaembu Trial';
        font-weight: 600;
        font-size: clamp(var(--type-fontsize-min),var(--type-fontsize-value),var(--type-fontsize-max));
        text-align: left;
        color: var(--title-color);
    }

    .landig-description{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: clamp(var(--p-fontsize-min),var(--p-fontsize-value),var(--p-fontsize-max));
        text-align: left;
        color: #000000;
    }

    .container{
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 40%;
    }
    .section-div{
        height: 100vh;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        justify-content: center;
    }

    .contact-button{
        text-decoration: none;
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 700;
        background-color: var(--contrast-color);
        color: white;
        padding:15px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;

    }

    .landing-subtitle{
        font-family: 'Pacaembu Trial';
        font-style: normal;
        font-weight: 800;
        font-weight: 400;
        font-size: 36px;
        text-align: left;
        color: var(--title-color);
        text-align: center;
        padding-top: 20px;
    }
    .demo-button{
        text-decoration: none;
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 700;
        background-color: white;
        color: #1D5AAA;
        padding:15px;
        border-radius: 5px;
        font-size: 1rem;
    }


    .card-section{
        background-color: #1D5AAA;
        width: 65%;
        height: 70%;
        border-radius: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-section h3{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: clamp(var(--p-fontsize-min),var(--p-fontsize-value),var(--p-fontsize-max));
        line-height: 27px;
        text-align: center;
        color: #FFFFFF;
    }

    .container-frase{
        padding-bottom: 40px;
        width: 75%;
    }

    .foto-container{
        display: flex;
        flex-direction: row;
        gap: 25px;
        width:40% ;
    }

    .foto-container h2{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
    }

    .foto-container p{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        color: #FFFFFF;
    }

    .icons-section{
        background-color: var(--principal-color);
    }

    .iconos-container{
        display: flex;
        align-items: center;
        gap: 40px;
        text-align: center;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: left;
    }

    .iconos-container p{
        color: #FFFFFF;
        font-family: 'Mulish';
        font-weight: 700;
    }

    .iconos-container h4{
        font-weight: 600;
        font-size: 16px;
    }


    .iconos-container div{
        width: 15%;
    }

    .banner-landing{
        width: 100%;
        height: 20%;
        background-color: var(--contrast-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-container{
        width: 50%;

    }

    .banner-container h2{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
        color: #FFFFFF;
    }

    .banner-container p{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    .banner-button{
        text-decoration: none;
        font-family: 'Pacaembu Trial', sans-serif;
        font-weight: 700;
        background-color: white;
        color: var(--contrast-color);
        padding:15px;
        border-radius: 5px;
    }
    .section-contactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        justify-content: center;
    }

    .form-container{
        display: flex;
        justify-content: center;
    }

    .form--frame{
        width: 800px;
        height: 430px;
    }

    .contact-div{
        z-index: -1;  
    }
    .contact-div-1{
        position: absolute;
        left: 85.86%;
        right: -115.36%;
        top: 344.87%;
        
    }
    .contact-div-2{
        position: absolute;
        left: 15.86%;
        top: 304.87%;
        
    }
    .contact-div-3{
        position: absolute;
        left: 87.89%;
        top: 403.8%;
        
    }
    .contact-div-4{
        position: absolute;
        left: -11.16%;
        top: 353.8%;
    }

    .footer img{
        width: 240px;
        padding-bottom: 2%;
    }

    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    @media screen and (max-width: 600px) {
        .contact-div{
        display: none;  
        }
        .pattern-div{
        display:none;
        }
        .container{
        width: 90%;
        }
        .buttons-container{
        display: flex;
        flex-direction: column;
        }
        .foto-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width:40% ;
        text-align: center;
        }
        .card-section{
        width: 85%;
        height: 90%;
        border-radius: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        .iconos-container{
            display: flex;
            flex-direction: column;
        }

        .iconos-container div{
            width: 90%;
        }
        .icons-section {
            padding-top: 10%;
        }

        .banner-landing img{
            display: none;
       
        }

        .banner-landing{
            height: 100%;
            text-align: center;
       
        }

        .banner-container{
            width: 90%;
            padding: 10% 0%;

        }

        .section-contactanos{
        display: block;
        }

        .banner-container h2{
        font-family: 'Pacaembu Trial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 43px;
        color: #FFFFFF;
        }

        .form--frame{
        border: 0;
        height: 550px;
        }

        .foto-container{
        width:80% ;
        }

        .banner-img{
            display: none;
        }

        .imagen--person{
            display: none;
        }




		
    }

</style> 

<script>
	const secondarybutton = document.getElementById('landingbutton');
	secondarybutton.addEventListener('click',scrollingbutton)
	secondarybutton.addEventListener('click',()=>{console.log('hola')})
	function scrollingbutton(){
		window.scrollTo(0,30000);
	}
</script>