---
import Navbar from '../../components/Landing-components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Landing-components/RE1-Titulo.astro';
import Descript from "../../components/Landing-components/RE4-Descript.astro";
import Infoproducto from '../../components/Landing-components/Infoproducto.astro';
import Docsproducto from '../../components/Landing-components/Docsproducto.astro';
import Footer from '../../components/Landing-components/Footer.astro';
import Caracteristicasprod from '../../components/Landing-components/Caracteristicasprod.astro';
import Contactanos from '../../components/Landing-components/Contactanos.astro';
import Detalles from '../../components/Landing-components/Detalles.astro';
import Soluciones from '../../layouts/Soluciones.astro';
---

<Soluciones title="Power Platform">
    <Navbar/>
    <section class="principal-section">
        <Title description="Microsoft 365" subtitle=""/>
        <div class="beneficios--container animate__animated animate__fadeInUp">
            <Descript percent="135%" description="Retorno sobre la inversión"/>
            <Descript percent="40%" description="Reducción de las brechas de seguridad"/>
            <Descript percent="285" description="Miles de horas salvadas para los usuarios"/>
        </div>
        <div class="button--container">
            <button class="principal--section__button animate__animated animate__fadeInUp" id="landingbutton">Contactanos</button>
        </div>
    </section>
    <section class="secondary-section">
        <div class="info-producto-container">
            <Infoproducto icon="../../MS365.svg" title="Microsoft 365" description="La suite de herramientas de productividad en la nube que te permite trabajar desde cualquier lugar y colaborar en tiempo real con tu equipo." href="../../M365Apps.png" />
            <Docsproducto image="../../MS365Docs.png" />
        </div>
    </section>
    <section>
        <Caracteristicasprod description="Microsoft 365 permite a los empleados realizar su mejor trabajo desde cualquier lugar del mundo, juntos en un solo lugar" image="../../MS35 banner.png"/>
    </section>
    <section class="details--section">
        <Detalles title="En cualquier lugar" descript="Cualquier persona de tu organización podrá crear rápidamente  cualquier tipo de documentos."/>
        <Detalles title="Trabajar juntos y mejor" descript="Mantener tu negocio conectado desde cualquier lugar con herramientas de chat y colaboración en la nube."/>
        <Detalles title="Continúa donde lo dejaste" descript="Microsoft 365 realiza un seguimiento sin problemas de actualizaciones, tareas y comentarios en todos los archivos"/>
        <Detalles title="Más aplicaciones en un lugar" descript="El nuevo Microsoft 365 reúne tus aplicaciones de Microsoft favoritas en una sola plataforma intuitiva."/>
    </section>
    <Contactanos/>
    <Footer/>
</Soluciones>

<style>
    *{
		margin: 0;
		padding: 0;
	}

	body{
		overflow-x:hidden !important;
		margin-left: 0;
        height: 100%; 
		background: radial-gradient(100% 100% at 50% 0%, #1F2063 0%, #1D5AAA 100%);
	}

    .details--section{
        display: flex;
        flex-direction: row;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }
    .principal-section{
        background: url("/public/Pathern.png");
        width: 100%;
        height: 60%;
        padding-left: 16%;
		padding-right: 16%;
    }
    .beneficios--container{
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
        text-align: center;
        column-gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .principal--section__button{
		border: 1px solid #FFDC9A;
		border-radius: 7px;
		width: 187px;
        height: 56px;
		background-color: transparent;
		color:#FFDC9A;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 30px;
		cursor: pointer;
	}
    .button--container{
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
    }

    .secondary-section{
        background-color: white;
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        align-self: center;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info-producto-container{
        display: flex;
        flex-direction: row;
        gap: 15%;
    }

    @media screen and (max-width: 600px) {
        .beneficios--container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
        }

        .info-producto-container{
            display: flex;
            flex-direction: column;
        }
        
        .details--section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }



    }

</style>