---
import Navbar from '../../components/Landing-components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Landing-components/Footer.astro';
---

<Layout title="Politica de Privacidad">
<Navbar/>
<div class="container">
    <h1>Politica de Privacidad de Cloud360</h1>
    <h3>Política de privacidad de Internet</h3>
    <p>Mediante la presentación de datos en este sitio web, un visitante proporciona su consentimiento explícito para el uso de los datos compartidos, de acuerdo con esta declaración de privacidad, para el cumplimiento de sus solicitudes voluntarias.  Cloud360 está firmemente comprometida con la protección de datos personales.</p>
    <h3>Recopilación de información</h3>
    <p>
        Cloud360 recopila información específica que los visitantes del sitio web proporcionan de manera voluntaria, como nombres, cargos, direcciones de la empresa, direcciones de correo electrónico, números de teléfono, entre otros datos. Nuestra política en Cloud360 es recopilar la menor cantidad de información posible para atender las solicitudes de los visitantes. En caso de que se solicite información no obligatoria, se informará al visitante en el momento de la recopilación.
    </p>
    <p>Además, los visitantes tienen la opción de enviar correos electrónicos a través del sitio web. Estos mensajes incluirán la identidad y el correo electrónico del usuario, así como cualquier información adicional que el usuario desee incluir en el mensaje.</p>
    <p> En ningún caso CLoud360 solicita información confidencial ni datos personales sensibles a través del sitio web. Por lo tanto, solicitamos a los usuarios y visitantes del sitio web que no proporcionen información que pueda considerarse confidencial. En caso de que el usuario decida hacerlo, estará otorgando su consentimiento explícito y claro para utilizar dicha información de acuerdo con los términos descritos en esta política de privacidad.</p>
    <h3>Utilización de la información </h3>
    <p>Cloud360 utilizará su información personal para los propósitos por los cuales usted la ha proporcionado, respetando los principios de privacidad, intimidad, transparencia, finalidad, pertinencia, minimización, calidad, exactitud, juridicidad, lealtad, proporcionalidad y confidencialidad establecidos por las leyes vigentes en Ecuador y a nivel internacional.</p>
    <p> Usted tiene la opción de proporcionar información personal en diversas situaciones, como:</p>
    <ul>
        <li>Solicitar informacion</li>
        <li>Participar en las iniciativas de suscripción a listas de correo.</li>
        <li>Participar en boletines, debates o foros.</li>
        <li>Solicitar información relacionada con un tema específico.</li>
        <li>Suscribirse a encuestas de remuneración, cuestionarios o encuestas comparativas</li>
        <li>Registrarse para eventos y conferencias.</li>
        <li>Registrarse para formar parte de la comunidad</li>
    </ul>
    <h3>Recopilacion de Informacion</h3>
    <p>La información obtenida a través del sitio web solamente se utiliza para los fines previstos y estipulados en el momento de la recopilación. Esta información no se comparte con otras entidades de la red con propósitos diferentes a los estipulados y tampoco se comparte con terceros.</p>
    <p>Cloud360 evita la recopilación excesiva o irrelevante de información.</p>
    <h3>Cookies y weblogs</h3>
    <p>Las cookies se pueden utilizar en algunas páginas de nuestro sitio. Las "Cookies" son pequeños archivos de texto que se almacenan en su disco duro que ayudan a ofrecer una experiencia personalizada durante su visita al sitio web. Por ejemplo, una cookie se puede utilizar para almacenar información de registro de un área del sitio para que el usuario no tenga que volver a incluirla en sus siguientes visitas a dicha área. Es política de Cloud360 utilizar cookies para simplificar la navegación de nuestros sitios web y facilitar los procedimientos de registro.</p>
    <p>Para administración de cookies, la mayoría de los buscadores permiten que las personas rechacen el uso de las cookies, es decir, un visitante puede rechazar una cookie y continuar navegando.</p>
    <p>Para la correcta administración del sitio web, se puede incluir de manera anónima información sobre nuestros sistemas operacionales e identificar las categorías de los visitantes tales como los tipos de dominios y tipos de navegador, estas estadísticas se reportan en su totalidad a los administradores web. Esto se hace para garantizar que el sitio web ofrezca una experiencia óptima de navegación a los visitantes y sea una fuente efectiva de información.</p>
    <h3>Terceros</h3>
    <p>La política de Cloud360 define lo siguiente para manejar información de terceros</p>
    <p>Solo divulgaremos la información personal no pública de un individuo a terceros bajo una o más de las siguientes condiciones: para un propósito comercial y cuando se nos permita legalmente hacerlo: cuando Cloud360 tenga el permiso de la persona para hacer la divulgación y/o para cumplir una obligación/requerimiento legal</p>
    <p>Además de las prácticas de intercambio de información descritas en la sección correspondiente en nuestras actividades de procesamiento, compartimos información personal con los siguientes destinatarios:</p> 
    <ul>
        <li>
            Terceras partes que prestan servicios de IT: utilizamos proveediorespara ayudar a proporcionar, ejecutar y administrar nuestros servicios. Los servidores que alimentan y facilitan esa infraestructura en la nube están ubicados en centros de datos seguros en todo el mundo y los datos personales pueden almacenarse en cualquiera de ellos.
        </li>
        <li>Los sitios web de Cloud360 no recopilan ni almacenan información de identificación personal para difundirla o venderla a terceros con fines comerciales ni almacena propuestas personalizadas de venta de terceros.</li>
    </ul>
    <h3>Enlaces o Links a otras páginas</h3>
    <p>Existen diversos sitios en esta pagina que pueden conectarse con otros sitios web que no funcionan bajo las políticas de privacidad de Cloud360 Cuando usted se conecta a otros sitios web, las prácticas de privacidad de Cloud360 ya no tienen validez. Invitamos a los usuarios a revisar las políticas de privacidad de cada sitio antes de revelar cualquier información de carácter personal.</p>
    <h3>Retención de la información</h3>
    <p>La información de contacto de visitantes se conservará mientras se requiera para cumplir totalmente con la solicitud del usuario o hasta que éste solicite que se elimine su información. La información de las listas de envío, comentarios en foros de opinión y correos electrónicos solo se conservan por un periodo que se considere razonable para simplificar las solicitudes del visitante. Las hojas de vida, cuando se lo considera, se almacenan en una base de datos para futuros procesos de selección.</p>
    <h3>Seguridad</h3>
    <p>Cloud360 ha implementado estándares generalmente aceptados de tecnología y seguridad operativa diseñados para proteger la información personal de pérdida, mal uso, alteración o destrucción. Solo el personal autorizado de Cloud360 y los terceros descritos en este compromiso de privacidad tienen acceso a la información personal y estos empleados y terceros han acordado mantener la confidencialidad de esta información, de conformidad a las políticas de Cloud360</p>
    <h3>Transferencia fronteriza</h3>
    <p>Somos parte de una red global de empresas y podemos trabajar juntamente con otros proveedores de servicios profesionales, que pueden ayudarnos a gestionar nuestro negocio. Algunos de estos terceros pueden estar ubicados en otros países, por lo que los datos personales pueden transferirse fuera de los países donde estamos ubicados nosotros y nuestros clientes.  Esto incluye a países que no tienen leyes que brinden protección específica para los datos personales. Hemos tomado medidas para garantizar que todos los datos personales reciban protección adecuada y que todas las transferencias de datos personales se realicen legalmente</p>
</div>
    
</Layout>
<Footer/>

<style>
    *{
    margin: 0;
    padding: 0;
}

body{
    overflow-x:hidden !important;
    margin-left: 0;
    height: 100%; 
    background: radial-gradient(100% 100% at 50% 0%, #1F2063 0%, #1D5AAA 100%);
}

.container{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

.container h1{
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Inter';
    font-weight: 800;
}

.container h3{
    font-family: 'Inter';
    font-weight: 800;
    padding-bottom: 1%;
    padding-top: 1%;
}

.container p{
    line-height: 2rem;
    font-family: 'Inter';
}

.container li{
    line-height: 2rem;
}


</style>