---
import Navbar from '../../components/Landing-components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Landing-components/RE1-Titulo.astro';
import Descript from "../../components/Landing-components/RE4-Descript.astro";
import Infoproducto from '../../components/Landing-components/Infoproducto.astro';
import Docsproducto from '../../components/Landing-components/Docsproducto.astro';
import Footer from '../../components/Landing-components/Footer.astro';
import Caracteristicasprod from '../../components/Landing-components/Caracteristicasprod.astro';
import Contactanos from '../../components/Landing-components/Contactanos.astro';
import Detalles from '../../components/Landing-components/Detalles.astro';
import Soluciones from '../../layouts/Soluciones.astro';
---

<Soluciones title="Power Platform">
    <Navbar/>
    <section class="principal-section">
        <Title description="Power Platform" subtitle=""/>
        <div class="beneficios--container animate__animated animate__fadeInUp">
            <Descript percent="45%" description="De reducción de costos"/>
            <Descript percent="58%" description="Incremento de las ganacias"/>
            <Descript percent="55%" description="Rapidez en las soluciones"/>
        </div>
        <div class="button--container">
            <button class="principal--section__button animate__animated animate__fadeInUp" id="landingbutton">Contactanos</button>
        </div>
    </section>
    <section class="secondary-section">
        <div class="info-producto-container">
            <Infoproducto icon="../../PowerPlat.svg" title="Power Platform" description="Acelere la innovación y reduzca los costes a medida que analiza datos, automatiza procesos y compila aplicaciones, sitios web y agentes virtuales con Power Platform" href="../../Powerplat.png" />
            <Docsproducto image="../../PowerPlat-Persons.png" />
        </div>
    </section>
    <section>
        <Caracteristicasprod description="Microsoft Power Platform puede ayudarle a acelerar la innovación, al mismo tiempo que reduce los costes en comparación con otras plataformas de desarrollo con poco código." image="../../PowerPlaticons.png"    />
    </section>
    <section class="details--section">
        <Detalles title="Power BI" descript="Tome decisiones empresariales fundamentadas y fiables proporcionando a todas las personas implicadas conocimientos basados en los datos"/>
        <Detalles title="Power Pages" descript="Desarrolle rápidamente y con poco código sitios web para empresas que brinden información y servicios vitales a los clientes."/>
        <Detalles title="Power Automate" descript="Aumente la productividad empresarial y saque más trabajo adelante  automatizando los procesos de la organización."/>
        <Detalles title="Power Apps" descript="Convierta sus ideas en soluciones para la empresa y permita que todo el mundo cree aplicaciones personalizadas que resuelvan los desafíos corporativos."/>
    </section>
    <Contactanos/>
    <Footer/>
</Soluciones>

<style>
    *{
		margin: 0;
		padding: 0;
	}

	body{
		overflow-x:hidden !important;
		margin-left: 0;
        height: 100%; 
		background: radial-gradient(100% 100% at 50% 0%, #1F2063 0%, #1D5AAA 100%);
	}

    .details--section{
        display: flex;
        flex-direction: row;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }
    .principal-section{
        background: url("/public/Pathern.png");
        width: 100%;
        height: 60%;
        padding-left: 16%;
		padding-right: 16%;
    }
    .beneficios--container{
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
        text-align: center;
        column-gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .principal--section__button{
		border: 1px solid #FFDC9A;
		border-radius: 7px;
		width: 187px;
        height: 56px;
		background-color: transparent;
		color:#FFDC9A;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 30px;
		cursor: pointer;
	}
    .button--container{
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
    }

    .secondary-section{
        background-color: white;
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        align-self: center;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info-producto-container{
        display: flex;
        flex-direction: row;
        gap: 15%;
    }

    @media screen and (max-width: 600px) {
        .beneficios--container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
        }

        .info-producto-container{
            display: flex;
            flex-direction: column;
        }
        
        .details--section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }



    }

</style>