---
import Navbar from '../../components/Landing-components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Landing-components/RE1-Titulo.astro';
import Descript from "../../components/Landing-components/RE4-Descript.astro";
import Infoproducto from '../../components/Landing-components/Infoproducto.astro';
import Docsproducto from '../../components/Landing-components/Docsproducto.astro';
import Footer from '../../components/Landing-components/Footer.astro';
import Caracteristicasprod from '../../components/Landing-components/Caracteristicasprod.astro';
import Contactanos from '../../components/Landing-components/Contactanos.astro';
import Detalles from '../../components/Landing-components/Detalles.astro';
import Soluciones from '../../layouts/Soluciones.astro';
---

<Soluciones title="Proteccion de nube y red">
    <Navbar/>
    <section class="principal-section">
        <Title description="Proteccion de nube y red" subtitle=""/>
        <div class="beneficios--container animate__animated animate__fadeInUp">
            <Descript percent="600%" description="De aumento de ataques de delito informatico"/>
            <Descript percent="78%" description="De las empresas no tienen las seguridades suficientes"/>
            <Descript percent="43%" description="De los ataques afectan a los nuevos negocios"/>
        </div>
        <div class="button--container">
            <button class="principal--section__button animate__animated animate__fadeInUp" id="landingbutton">Contactanos</button>
        </div>
    </section>
    <section class="secondary-section">
        <div class="info-producto-container">
            <Infoproducto icon="../../10433-icon-service-User-Settings.svg" title="Proteccion de nube y red" description="Es el servicio más integral proporcionado, ya que abarca todos los niveles de la planeación, el hacer, el verificar y el actuar, relacionados con la seguridad de la información." href="../../ProtecciondelanubeyredApps.png" />
            <Docsproducto image="../../ProtecciondelanubeyredDocs.png" />
        </div>
    </section>
    <section>
        <Caracteristicasprod description="Un sistema de ciberseguridad permite proteger los sistemas empresariales y la información confidencial ante amenazas y/o ataques cibernéticos" image="../../ProtecciondelanubeyredBanner.png"    />
    </section>
    <section class="details--section">
        <Detalles title="Seguridad de los datos" descript="Es un aspecto de la seguridad en la nube que implica el fin técnico de la prevención de amenazas."/>
        <Detalles title="Gestión de identidades y accesos" descript="Se refiere a los privilegios de acceso que se ofrecen a las cuentas de los usuarios."/>
        <Detalles title="La gobernanza" descript="Se centra en las políticas de prevención, detección y mitigación de amenazas."/>
        <Detalles title="Planificación de la retención de datos" descript="Implica medidas técnicas de recuperación de desastres en caso de pérdida de datos."/>
    </section>
    <Contactanos/>
    <Footer/>
</Soluciones>

<style>
    *{
		margin: 0;
		padding: 0;
	}

	body{
		overflow-x:hidden !important;
		margin-left: 0;
        height: 100%; 
		background: radial-gradient(100% 100% at 50% 0%, #1F2063 0%, #1D5AAA 100%);
	}

    .details--section{
        display: flex;
        flex-direction: row;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }
    .principal-section{
        background: url("/public/Pathern.png");
        width: 100%;
        height: 60%;
        padding-left: 16%;
		padding-right: 16%;
    }
    .beneficios--container{
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
        text-align: center;
        column-gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .principal--section__button{
		border: 1px solid #FFDC9A;
		border-radius: 7px;
		width: 187px;
        height: 56px;
		background-color: transparent;
		color:#FFDC9A;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 30px;
		cursor: pointer;
	}
    .button--container{
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
    }

    .secondary-section{
        background-color: white;
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        align-self: center;
        padding-left: 8%;
        padding-right: 8%;
    }

    .info-producto-container{
        display: flex;
        flex-direction: row;
        gap: 15%;
    }

    @media screen and (max-width: 600px) {
        .beneficios--container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 68px;
        padding-top: 50px;
        padding-bottom: 50px;
        }

        .info-producto-container{
            display: flex;
            flex-direction: column;
        }
        
        .details--section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 16%;
        padding-right: 16%;
        margin-top: 52px;
    }



    }

</style>